/* ------------- */
/* GLOBAL STYLES */
/* ------------- */
* {
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  /* Primary Theme Colors */
  --bg-white: #f9f9f9;      /* Primary background color */
  --subtext-gray: #9D9D9D;  /* Subtext and small text on section backgrounds */
  --text-white: #fff;       /* Primary text color */
  --text-black: #000;
  --text-blue: var(--brand-blue-500); /* Secondary text color on white background */

    /* BRAND BLUE - Used for headers and alternating page backgrounds */
  --brand-blue-100: #d3e3f0;
  --brand-blue-200: #acc7df;
  --brand-blue-300: #85abcd;
  --brand-blue-400: #5e90bb;
  --brand-blue-500: #011f3b; /* Base */
  --brand-blue-500-opaque: rgba(14, 45, 90, .95); /* Opaque version (for overlays, modals, etc.) */
  --brand-blue-600: #011a32;
  --brand-blue-700: #011429;
  --brand-blue-800: #000f20;
  --brand-blue-900: ##000916; /* Darker shade of primary, use for hover states or dark sections */

  --btn-blue: #3e6acb;
  --btn-blue-hover: #5078d1;
  --btn-yellow: #e6b930;
  --btn-yellow-hover: #d9a728;
    /* BRAND YELLOW - Accent color for links, button borders, etc. */
  --brand-yellow-100: #fdf8df;
  --brand-yellow-200: #fbeeb0;
  --brand-yellow-300: #f9e37e;
  --brand-yellow-400: #f6d958;
  --brand-yellow-500: #f0c845; /* Base */
  --brand-yellow-600: #d4ad34;
  --brand-yellow-700: #b99128;
  --brand-yellow-800: #9e761c;
  --brand-yellow-900: #735712;
  
    /* STANDARD BORDER RADIUS */
  --btn-border-radius: 10px; /* Buttons */
}

html {
  scroll-behavior: smooth;
  background: var(--bg-white);
}

body {
  margin: 0;
  padding: 0;
  color: var(--text-black);
}

section {
  position: relative;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.multi-section-top {
  padding-bottom: 2rem;
}

.multi-section-mid {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.multi-section-bottom {
  padding-top: 2rem;
}


/* -------------------- */
/* -GLOBAL FONT STYLES- */
/* -------------------- */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: var(--brand-blue-500);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

p {
  font-size: 1rem;
  line-height: 1.6;
}

/* -------------------------------- */
/* CUSTOM HEIGHTS AND WIDTH CLASSES */
/* -------------------------------- */
.maxw-200 {
  max-width: 200px;
}

.maxw-1200 {
  max-width: 1200px;
}

.maxw-1500 {
  max-width: 1500px;
  margin: auto;
}

.mh60 {
  min-height: clamp(700px, 75vh, 1000px);
}

/* ----------------- */
/* --SPACING SCALE-- */
/* ----------------- */
.gap-2 {
  gap: 2rem;
}

.margin-y-2rem {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.y-center {
  align-self: center;
}

/* -------------------- */
/* CUSTOM COLOR CLASSES */
/* -------------------- */
.bg-blue-500 {
  background-color: var(--brand-blue-500);
  color: var(--text-white);
}

.bg-blue-500-opaque {
  background-color: var(--brand-blue-500-opaque);
  color: var(--text-white);
}

.bg-blue-500 h1,
.bg-blue-500-opaque h1,
.bg-blue-500 h2,
.bg-blue-500-opaque h2,
.bg-blue-500 h3,
.bg-blue-500-opaque h3 {
  color: var(--text-white);
}

.text-yellow-500 {
  color: var(--brand-yellow-500);
}

/* ----------------- */
/* -----BUTTONS----- */
/* ----------------- */
.btn-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.signup-btn {
  cursor: pointer;
  display: none;
  margin-left: auto;
  margin-right: 2rem;
  text-wrap: nowrap;
}

.cta-btn {
  background-color: var(--bg-white);
  border: none;
  border-radius: var(--btn-border-radius);
  cursor: pointer;
  display: flex;
  font-weight: bolder;
  font-size: 1rem;
  letter-spacing: .05rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  text-wrap: nowrap;
  width: min-content;
}

.cta-btn:hover {
  background-color: var(--text-white);
  text-decoration: none;
}

.btn-yellow {
  background-color: var(--btn-yellow);
  color: var(--text-blue);
}

.btn-yellow:hover {
  background-color: var(--btn-yellow-hover);
  text-decoration: none;
}

/* ------------------ */
/* ------IMAGES------ */
/* ------------------ */
.bg-img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  transition: opacity 300ms ease;
}

.bg-img[src] {
  opacity: 1;
}

.lg-img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* ----------------- */
/* ------LISTS------ */
/* ----------------- */
ol {
  padding: 1rem;
}

ol li:not(:first-child):not(:last-child) {
  margin-top: 1rem;
  margin-bottom: 1rem;
}


/* ----------------- */
/* ------CARDS------ */
/* ----------------- */

/* ----TEAM CARDS---- */
.team-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.team-card .img-container {
  margin-bottom: 1rem;
  max-width: 360px;
  height: auto;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.team-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.team-card p {
  margin: 0;
}

.team-card hr {
  border: none;
  height: 1px;
  background-color: var(--subtext-gray);
  width: 25%;
}

/* ----------------- */
/* -----FLEXBOX----- */
/* ----------------- */
.flex-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}



/* ----------------- */
/* ------GRIDS------ */
/* ----------------- */

/* ----GRID TYPES---- */
.two-col,
.two-col-left {
  align-items: start;
  display: grid;
  width: 100%;
  margin: auto;
  grid-template-columns: 1fr;
  grid-template-areas: "content";
}

/* --GRID ELEMENT STYLING-- */
.two-col img {
  display: none;
  grid-area: image;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.two-col .col-content {
  grid-area: content;
  width: 100%;
}


/* ------------- */
/* ACCESSIBILITY */
/* ------------- */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}


/* ------ */
/* HEADER */
/* ------ */
header {
  background: var(--bg-white);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: auto;
  z-index: 10;
}

/* LOGO AND SITE TITLE */
header .logo-container {
  display: flex;
  align-items: center;
  max-width: 70%;
}

.logo {
    width: 350px;
    max-width: 100%;
    height: auto;
}

.site-title {
  font-size: 1.2rem;
  color: var(--bg-white);
}

/* NAVIGATION */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-size: 1.1rem;
  -webkit-tap-highlight-color: transparent; /* removes iOS gray highlight */
}

a:active {
  background-color: transparent; /* removes default blue/gray flash */
  border: none;
  outline: none;
}

a:hover,
a:focus {
  text-decoration: underline;
  text-decoration-color: var(--brand-yellow-500);
  text-decoration-thickness: .2rem;
  outline: none;
}

/* MOBILE NAVIGATION */
.nav-links {
  display: none;
}

.nav-links a {
  color: var(--text-black);
}

.nav-links.active {
  color: var(--text-white);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--brand-blue-500-opaque);
  box-shadow: 5px 13px 20px rgba(0,0,0,0.25);
  padding: 1rem 0;
  z-index: 900;
  transition: background-color 0.5s ease;
}

.nav-links.active li {
  margin-left: 1rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
}

.nav-links.active li:first-child {
  margin-top: 4rem;
}

.nav-links.active a {
  color: var(--bg-white) !important;
  font-size: 1.5rem;
}

/* HAMBURGER ICON */
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 50px;
  cursor: pointer;
  z-index: 999;
  background: none;
  border: none;
  padding: none;
  margin: none;
}

.hamburger .line {
  width: 100%;
  height: 5px;
  background-color: var(--text-black);
  transition: all 0.3s ease;
}

.hamburger .line.active {
  background-color: var(--text-white);
}

.hamburger.active .line:nth-child(2) { /* Top line forms X */
  transform: rotate(45deg);
  position: relative;
  top: 8.5px;
}

.hamburger.active .line:nth-child(3) { /* Middle line disappears */
  opacity: 0;
}

.hamburger.active .line:nth-child(4) { /* Bottom line forms X */
  transform: rotate(-45deg);
  position: relative;
  top: -15px;
}


/* ------ */
/* FOOTER */
/* ------ */
.footer {
  background-color: var(--brand-blue-500);
  color: var(--text-white);
  padding: 2rem 1rem;
}

.footer img {
  background-color: white;
  padding: 1rem 2rem;
  border-radius: var(--btn-border-radius);
}

.footer-wrapper {
  width: 100%;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: auto;
  grid-template-areas:
    "logo"
    "business-info"
    "hr"
    "site-map"
    "copyright"
    "privacy";
  text-align: left;
  margin: 0 auto;
  padding: 0;
}

.footer-wrapper .logo-container {
  grid-area: logo;
}

.footer-wrapper .business-info {
  grid-area: business-info;
}

.footer-wrapper .site-map {
  grid-area: site-map;
}

.footer-wrapper ul {
  flex-direction: column;
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  width: 100%;
}

.footer-wrapper a,
.footer-wrapper a:hover {
  color: var(--bg-white);
}

footer hr {
  border: none;
  height: 1px;
  background-color: var(--bg-white);
  width: 100%;
  grid-area: hr;
}

.copyright {
  font-size: 0.875rem;
  grid-area: copyright;
  text-align: center;
  width: 100%;
}

.footer-wrapper .privacy {
  font-size: 0.875rem;
  grid-area: privacy;
  text-align: center;
  width: 100%;
}

/* ------------------- */
/* HERO SECTIONS */
/* ------------------- */
#hero {
  height: min(80vh, 900px);
  min-height: 60vh;
}

#hero,
#hero2 {
  isolation: isolate;
  background-color: var(--brand-blue-500);
}

#hero,
#hero2,
#cta {
  min-height: auto;
  overflow: hidden;
}

#hero2,
#cta {
  text-align: center;
}

.hero-content {
  display: grid;
  gap: 1rem;
  width: 100%;
  margin: auto;
  z-index: 1;
}

.hero-content h1 {
  color: var(--text-white);
}

.hero-content p {
  font-size: 1rem;
  /* max-width: 500px; */
  letter-spacing: .05rem;
  margin: 0;
}



/* ----------------- */
/* CTA CONTAINER */
/* ----------------- */
.cta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 10;
}

/* --------------- */
/* CONTACT SECTION */
/* --------------- */
#contact {
  padding: 1rem;
}
.contact-section {
  width: 100%;
  padding: 0;
  margin: 0;
  transition: all 0.3s ease;
}

.contact-section h2 {
  width: 100%;
  font-weight: lighter !important;
  font-weight: bold;
  text-align: center;
}

/* Form styling */
form,
.thank-you-message {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

fieldset legend {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.contact-info {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: auto;
  margin-bottom: 2rem;
}

.contact-info_logo {
  margin: auto;
  height: auto;
  width: 100%;
}

.contact-info_message p {
  color: var(--subtext-gray);
}

.contact-info_realtor {
  display: flex;
  flex-direction: column;
}

.contact-info_realtor p {
  color: var(--brand-yellow-500);
  font-weight: bold;
  margin: 1rem 0;
}

.contact-info_realtor a {
  color: var(--brand-yellow-500);
  margin: .2rem 0;
  font-size: .8rem;
  padding: 0;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  margin-bottom: 5px;
  font-size: .8rem;
  color: #333;
}

form input, 
form textarea {
  box-sizing: border-box;
  width: 100%;
  padding: .5rem;
  margin-bottom: 1.5rem;
  border: none;
  border-bottom: 1px solid var(--brand-yellow-500);
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

form textarea {
  border: 1px solid var(--brand-yellow-500);
  height: 200px;
  resize: vertical;
}

/* Focus effect for inputs */
form input:focus, 
form textarea:focus {
  border-color: var(--brand-blue-500);
  outline: none;
}

/* Button styling */
form button {
  background-color: var(--brand-blue-500);
  padding: 1rem 2rem;
  width: 100%;
  border: none;
  color: var(--text-white);
  font-size: 1.1rem;
  border-radius: var(--btn-border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

form button:hover {
  background-color: var(--brand-blue-600);
}

/* Thank you message */
.thank-you-message p {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--brand-blue-500);
  transition: all 0.3s ease;
}




/* ----------------------- */
/* RESPONSIVE BREAKPOINTS */
/* ----------------------- */

/* Medium Screens (Tablets and up) */
@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.2rem;
  }

  a {
    text-decoration: transparent;
  }

  /* CARDS STYLING */
  .card-stacked {
    align-items: center;
    flex-direction: row;
  }

  .nav-links.active {
    width: 50vw;
    right: 0;
    left: auto;
  }

  /* BUTTON STYLING */
  /* SIGNUP BUTTON WILL DISPLAY HERE */
  .signup-btn {
    border: none;
    border-radius: var(--btn-border-radius);
    cursor: pointer;
    display: flex;
    font-weight: bolder;
    font-size: 1rem;
    letter-spacing: .05rem;
    padding: 1rem 2rem;
    text-transform: uppercase;
    text-wrap: nowrap;
    width: min-content;
  }

  /* FOOTER */
  .footer-wrapper {
    grid-template-areas:
      "logo site-map"
      "business-info site-map"
      "hr hr"
      "copyright privacy";
  }

  .footer-wrapper .copyright {
    text-align: left;
  }

  .footer-wrapper .privacy {
    text-align: right;
  }

  /* HERO */
  .hero-content h1 {
    font-size: 3.5rem;
  }

  .hero-content p {
    font-size: 1.2rem;
  }







  .contact-section {
    padding: 2rem 4rem;
  }

  form,
  .thank-you-message,
  .contact-info {
    max-width: 600px;
  }
}

/* Large Screens (Desktops and up) */
@media (min-width: 1024px) {


  /* GLOBAL STYLING */

  /* CARDS */
  .team-card hr {
    display: none;
  }


  /* GRIDS */
  .two-col {
    gap: 4rem;
    grid-template-columns: 1fr 1fr;
  }

  .two-col-left {
    gap: 2rem;
    grid-template-columns: auto 3fr;
  }

  .two-col-start {
    grid-template-areas:
      "image content";
  }

  .two-col-end {
    grid-template-areas:
      "content image";
  }

  .two-col img {
    display: block;
  }

  .two-col-left img {
    margin: auto;
    width: 50px !important;
    height: auto !important;
  }

  .grid-2x2 {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  /* HEADER */
  header {
    background:none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  /* HAMBURGER */
  .hamburger .line {
  background-color: var(--text-white);
}

  /* HERO */
  /* #hero {
    height: 80vh;
    min-height: 600px;
    max-height: none;
  } */

  #hero2 {
    height: 400px;
    max-height: 40vh;
  }

  #hero2 h1 {
    margin-top: 10%;
  }

  .contact-section {
    padding-top: 4rem;
  }

  .contact-info_realtor {
    flex: 1;
  }

  .form-group {
    flex: 2;
  }
}

/* Extra Large Screens (Wide Monitors) */
@media (min-width: 1280px) {
  h1 {
    font-size: 3rem;
  }

  header .logo-container {
    margin-right: 2rem;
  }
  
  .signup-btn {
    margin: 0;
  }

  .site-title {
    font-size: 1.8rem;
  }

  .nav-links {
    display: flex !important;
    flex-direction: row;
    position: static;
    height: auto;
    background: none;
    margin-left: auto;
    margin-right: 2rem;
  }

  .nav-links li {
    margin-right: 2rem;
    margin-bottom: 0;
  }

  .nav-links li a {
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    text-wrap: nowrap;
    color: var(--text-white);
  }

  .hamburger {
    display: none;
  }

  .hero-header {
    padding: 6rem 3rem;
  }

  .hero-content p {
    font-size: 1.8rem;
  }

  .hero-content p.sub-text {
    font-size: 1.1rem;
  }

  .contact-section {
    padding: 4rem 6rem;
  }
}